/*webkit内核下滚动条样式*/
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-button {
  background: transparent;
  height: 10px;
}
/* 滚动槽 */
*::-webkit-scrollbar-track {
  background: transparent;
}
/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #cfcfcf;
  opacity: 0.3;
  box-shadow: inset 0 0 6px #cfcfcf;
}
.padding-base {
  padding: 10px;
}
.padding-base-left {
  padding-left: 10px;
}
.padding-base-right {
  padding-right: 10px;
}
.padding-base-bottom {
  padding-bottom: 10px;
}
.padding-base-top {
  padding-top: 10px;
}
.padding-base-top-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-base-left-right {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-small {
  padding: 5px;
}
.padding-small-left {
  padding-left: 5px;
}
.padding-small-right {
  padding-right: 5px;
}
.padding-small-bottom {
  padding-bottom: 5px;
}
.padding-small-top {
  padding-top: 5px;
}
.padding-small-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-small-left-right {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-large {
  padding: 20px;
}
.padding-large-left {
  padding-left: 20px;
}
.padding-large-right {
  padding-right: 20px;
}
.padding-large-bottom {
  padding-bottom: 20px;
}
.padding-large-top {
  padding-top: 20px;
}
.padding-large-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-large-left-right {
  padding-left: 20px;
  padding-right: 20px;
}
-padding-none {
  padding: 0;
}
.margin-base {
  margin: 10px;
}
.margin-base-left {
  margin-left: 10px;
}
.margin-base-right {
  margin-right: 10px;
}
.margin-base-bottom {
  margin-bottom: 10px;
}
.margin-base-top {
  margin-top: 10px;
}
.margin-base-top-bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-base-left-right {
  margin-left: 10px;
  margin-right: 10px;
}
.margin-small {
  margin: 5px;
}
.margin-small-left {
  margin-left: 5px;
}
.margin-small-right {
  margin-right: 5px;
}
.margin-small-bottom {
  margin-bottom: 5px;
}
.margin-small-top {
  margin-top: 5px;
}
.margin-small-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-small-left-right {
  margin-left: 5px;
  margin-right: 5px;
}
.margin-large {
  margin: 20px;
}
.margin-large-left {
  margin-left: 20px;
}
.margin-large-right {
  margin-right: 20px;
}
.margin-large-bottom {
  margin-bottom: 20px;
}
.margin-large-top {
  margin-top: 20px;
}
.margin-large-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-large-left-right {
  margin-left: 20px;
  margin-right: 20px;
}
html,
body {
  line-height: 24px;
  color: #333;
  font-size: 14px;
  font-family: "Microsoft YaHei" !important;
  min-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
}
img {
  display: inline-block;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #777;
}
a:hover,
a:active {
  outline: 0;
}
img {
  border: none;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h4,
h5,
h6 {
  font-size: 100%;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  clear: both;
}
a cite {
  font-style: normal;
  *cursor: pointer;
}
.link {
  color: #4A90E2;
}
.link:hover {
  color: rgba(74, 144, 226, 0.8);
}
.primary-color {
  color: #4A90E2;
}
.default-color {
  color: rgba(74, 144, 226, 0.8);
}
.danger-color {
  color: #D0021B;
}
.success-color {
  color: #01D2A6;
}
.warning-color {
  color: #ffae00;
}
.module-orange {
  background: linear-gradient(to top right, #F76B1C, #FAD961);
}
.module-green {
  background: linear-gradient(to top right, #3C8A1C, #90C630);
}
.module-pink {
  background: linear-gradient(to top right, #E93466, #FF81ED);
}
.module-purple {
  background: linear-gradient(to top right, #6524D4, #B137C8);
}
.module-blue {
  background: linear-gradient(to top right, #2379D3, #75EDFF);
}
.module-default {
  background: linear-gradient(to top right, #F7BB1C, #FAF161);
}
/*包含页面多个less Mixins的集合*/
.el-dialog__header {
  background: #f2f2f2;
  border-bottom: 1px solid #c3c3c3;
  padding: 15px 20px !important;
}
.el-dialog__body {
  padding-top: 15px !important;
}
.el-dialog__title {
  font-size: 16px !important;
}
.menu-horizontal {
  margin-bottom: 10px;
}
.menu-horizontal .el-menu-item {
  position: relative;
  transition: none;
  padding: 0 10px;
  border-bottom: 0;
  font-size: 16px;
  color: #333;
}
.menu-horizontal .el-menu-item:first-child {
  padding-left: 16px;
}
.menu-horizontal .el-menu-item.is-active {
  border-bottom: 0 !important;
  color: #4A90E2 !important;
}
.el-menu--horizontal .el-menu-item {
  font-size: 16px;
  border-bottom-width: 0px !important;
}
.el-table__empty-block {
  align-items: initial !important;
}
.tabs-horizontal {
  margin-bottom: 10px;
}
.tabs-horizontal .el-tabs__header {
  margin-bottom: 0;
}
.tabs-horizontal .el-tabs__item {
  height: 60px;
  line-height: 60px;
  color: #333;
}
.tabs-horizontal .el-tabs__item.is-active {
  color: #4A90E2;
}
.tabs-horizontal .el-tabs__nav-scroll {
  padding: 0 20px;
}
.tabs-horizontal .el-tabs__nav-wrap::after {
  height: 1px;
  background: #ccc;
}
.el-aside {
  background: #F9F9F9 !important;
}
.el-aside .el-menu {
  background: #F9F9F9;
  border-right-color: #ccc;
}
.el-aside .el-menu-item {
  border-left: 3px solid transparent;
}
.el-aside .el-menu-item.is-active {
  color: #fff;
  border-left-color: #f7b320;
  background: #4A90E2;
}
.el-aside .el-menu-item.is-active:hover {
  color: #fff;
  background: #4A90E2;
  border-left-color: #f7b320;
}
.el-aside .el-menu-item:hover {
  color: #4A90E2;
  border-left-color: transparent;
  background: rgba(74, 144, 226, 0.35);
}
.el-aside .el-submenu .el-menu-item,
.el-aside .el-menu-item,
.el-aside .el-submenu__title {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}
.el-aside .el-submenu .el-menu-item:hover i,
.el-aside .el-menu-item:hover i,
.el-aside .el-submenu__title:hover i {
  color: inherit;
}
.el-aside .el-submenu__title {
  border-left: 3px solid transparent;
}
.el-aside .el-submenu__title:hover {
  background-color: rgba(74, 144, 226, 0.35);
  color: #4A90E2;
}
.el-header + .el-main {
  margin-top: 0 !important;
}
.el-table__header thead th {
  height: 56px;
  font-size: 14px;
  color: #333;
  background: #dedbdb;
  border-color: #ccc;
}
.el-table__body tbody td {
  padding: 0;
  height: 46px;
  font-size: 14px;
  color: #333;
}
.el-table__body tbody td .cell a:hover {
  color: #4A90E2;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background: rgba(74, 144, 226, 0.15);
}
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-right: 1px solid #ccc !important;
}
.el-table--border {
  border-left: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #ccc !important;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: #ccc !important;
}
.el-table__fixed-right::before,
.el-table__fixed::before {
  background-color: #ccc !important;
}
.el-form-item {
  margin-bottom: 20px;
}
.el-tree-node__content:hover {
  background: transparent !important;
  color: #4A90E2;
}
.el-tree-node:focus > .el-tree-node__content {
  background: transparent;
  color: #4A90E2;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: transparent !important;
  color: #4A90E2;
}
.el-tree {
  min-width: 100%;
  display: inline-block !important;
}
.el-upload__tip {
  margin-top: 0;
  display: inline-block;
  margin-left: 10px;
}
.el-submenu .el-menu-item {
  padding-right: 0;
}
.el-radio__inner {
  border-color: #979797;
}
.el-radio__input.is-disabled .el-radio__inner,
.el-radio__input.is-disabled.is-checked .el-radio__inner {
  background-color: #F6F6F6;
  border-color: #D6D6D6;
}
.el-switch__core {
  background: #979797;
}
.el-submenu__title,
.el-menu-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-submenu__title i,
.el-menu-item i {
  font-size: 16px;
}
.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  position: absolute;
  right: 15px;
}
.el-tabs__item {
  font-size: 16px !important;
}
.el-form-item__label {
  color: #333 !important;
}
.el-form-item__content,
.el-input__inner,
.el-textarea__inner,
.el-upload-list__item,
.el-checkbox__inner {
  font-size: 14px !important;
  color: #333;
  border-color: #ccc !important;
}
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  border-color: #F56C6C !important;
}
.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #67C23A !important;
}
.el-button {
  font-size: 14px !important;
}
.el-button--default {
  border-color: #ccc !important;
}
.el-button--default:focus,
.el-button--default:hover {
  border-color: #4A90E2 !important;
}
.el-button--default:active {
  background: transparent !important;
}
.el-button--primary.is-active,
.el-button--primary:active {
  background: #3a82cb !important;
}
.el-input-group__append {
  border-color: #ccc !important;
}
.el-input-group__append .el-button--default,
.el-input-group__append .el-button--default:focus,
.el-input-group__append .el-button--default:hover {
  border-color: transparent !important;
}
.el-checkbox__label,
.el-radio__label {
  font-size: 14px !important;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 14px !important;
}
.el-tree-node__label {
  font-size: 14px !important;
}
.el-dropdown-menu__item {
  font-size: 14px !important;
}
.el-message-box__content .el-message-box__status {
  font-size: 50px !important;
}
.el-message-box__content .el-message-box__status + .el-message-box__message {
  padding-left: 56px;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block__lines--ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.table-layout-fixed {
  table-layout: fixed;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center;
}
.border-none {
  border: none !important;
}
.aioa-content-head {
  height: 3.42857143rem;
  line-height: 3.42857143rem;
  padding: 0 15px;
  font-size: 16px;
}
.aioa-content-search .search-head {
  height: 3.42857143rem;
  line-height: 3.42857143rem;
  padding: 0 15px;
}
.aioa-content-search .search-form {
  padding: 15px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
}
.aioa-search-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 14px;
}
.aioa-search-btn {
  position: relative;
}
.aioa-search-icon {
  display: inline-block;
  font: normal normal normal 14px/1 font-cop;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
.aioa-search-icon::before {
  content: "\e927";
  display: block;
  position: absolute;
  bottom: -3px;
  right: 200px;
  text-align: center;
  color: #dcdfe6;
}
.aioa-search-content {
  position: absolute;
  z-index: 100;
  background: #fff;
  width: 1024px;
  right: -5px;
  top: 13px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.list-nodata-container {
  text-align: center;
  padding-top: 200px;
}
.list-nodata-container p {
  font-size: 16px;
  margin-top: 20px;
}
.aioa-box {
  background: #000 url(../img/bg.jpg) no-repeat fixed center;
  height: 100%;
}
.aioa-head {
  height: 70px;
  background: rgba(138, 138, 138, 0.3);
  color: #fff;
  position: relative;
}
.aioa-head .head-subNav:hover {
  background: rgba(0, 0, 0, 0) !important;
}
.aioa-head .head-nav {
  display: inline-block;
  height: 100%;
}
.aioa-head .head-nav-logo {
  float: left;
  height: 100%;
  line-height: 70px;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
}
.aioa-head .head-nav-logo:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.12);
}
.aioa-head .head-nav-logo.active {
  background: rgba(0, 0, 0, 0.25);
}
.aioa-head .head-nav-logo img {
  width: 28px;
  margin-top: -5px;
}
.aioa-head .head-nav-application {
  float: left;
}
.aioa-head .head-nav-application > ul > li.active {
  background: #fff !important;
  color: #4A90E2;
}
.aioa-head .head-nav > ul {
  height: 100%;
}
.aioa-head .head-nav > ul > li {
  display: inline-block;
  height: 100%;
  line-height: 70px;
  width: 60px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}
.aioa-head .head-nav > ul > li:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.12);
}
.aioa-head .head-nav > ul > li.active {
  background: rgba(0, 0, 0, 0.25);
}
.aioa-head .head-nav-tabs {
  float: left;
}
.aioa-head .head-nav-tabs ul {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.aioa-head .head-nav-tabs ul::-webkit-scrollbar {
  display: none;
}
.aioa-head .head-nav-tabs ul li {
  font-size: 20px;
  width: auto;
  padding: 0 36px 0 19px;
  position: relative;
  max-width: 165px;
}
.aioa-head .head-nav-tabs ul li .close {
  color: #fff;
  font-size: 16px;
  opacity: 0;
  position: absolute;
  top: 1px;
  right: 11px;
}
.aioa-head .head-nav-tabs ul li:hover .close {
  opacity: 1;
}
.aioa-head .head-nav-fixed {
  float: right;
}
.aioa-head .head-nav-fixed > ul > li {
  position: relative;
}
.aioa-head .head-nav-fixed > ul > li.active {
  background: #fff !important;
  color: #4A90E2;
}
.aioa-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 10px;
}
.aioa-side-bar {
  width: 220px !important;
  background-color: #eef1f6;
  width: 100%;
  position: relative;
}
.aioa-side-bar .side-bar-nav {
  height: calc(100% - 61px);
  overflow: auto;
}
.aioa-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.aioa-application-content {
  display: none;
  position: fixed;
  top: 80px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #fff;
  border-top: 5px solid #4A90E2;
  box-sizing: border-box;
  z-index: 10;
}
.aioa-application-content iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.aioa-application-content .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  background: #4c4c4c;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.aioa-all-application-box {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 695px;
  transform: translateX(-730px);
  background: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow: auto;
  padding: 20px 0;
}
.aioa-all-application-box .app-category-box {
  margin: 0px 15px 25px;
}
.aioa-all-application-box .app-category-box dt {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
  position: relative;
  cursor: pointer;
}
.aioa-all-application-box .app-category-box dt .shrink-icon {
  float: right;
}
.aioa-all-application-box .app-category-box ul {
  margin-right: -15px;
  margin-top: -15px;
}
.aioa-all-application-box .app-category-box ul.max-height {
  max-height: 135px;
  overflow: hidden;
}
.aioa-all-application-box .app-category-box ul li {
  text-align: center;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-right: 15px;
  margin-top: 15px;
  box-sizing: border-box;
  padding-top: 25px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.aioa-all-application-box .app-category-box ul li .app-icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-size: 3rem;
  color: #333;
}
.aioa-all-application-box .app-category-box ul li em {
  font-style: normal;
  display: block;
  color: #333;
  font-size: 16px;
}
.aioa-all-application-box .app-category-box ul li:hover {
  cursor: pointer;
  background: #4A90E2;
}
.aioa-all-application-box .app-category-box ul li:hover em {
  color: #fff;
}
.aioa-all-application-box .app-category-box ul li:hover .app-icon {
  color: #fff;
}
.aioa-all-application-box.show-all-app {
  transform: translateX(0);
  transition: all 0.25s linear;
}
.link-to-umis-outer {
  width: 100px;
  height: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.link-to-umis-outer:hover .link-to-umis-inner {
  right: -68px;
  transition: right 0.3s ease-in-out;
}
.link-to-umis-inner {
  height: 116px;
  width: 116px;
  line-height: 116px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -116px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 3rem;
  z-index: 100;
}
.link-to-umis-inner:hover {
  cursor: pointer;
}
.table-assisted-box {
  height: 100%;
  border-right: 1px solid #ccc;
  position: relative;
}
.table-assisted-head {
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 14px;
  background: #dedbdb;
  border-bottom: 1px solid #ccc;
  color: #333;
  display: none;
}
.table-assisted-body {
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 20px 10px;
}
.dopage {
  margin: 20px;
  text-align: center;
}
.first-letter-box {
  line-height: 50px;
  padding: 0 20px;
}
.first-letter-box li {
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 16px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
}
.first-letter-box li.current,
.first-letter-box li:hover {
  background: #4A90E2;
}
.first-letter-box li.current a,
.first-letter-box li:hover a {
  color: #fff;
}
.main-padding {
  padding: 20px;
}
.base-info-setting .personal-img {
  text-align: center;
  margin-top: 16px;
}
.base-info-setting .personal-img > span {
  display: block;
  margin-top: 10px;
  color: #999;
}
.el-aside .user-info {
  padding: 5px 10px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.el-aside .user-info .el-row {
  height: 50px;
}
.el-aside .user-info .avatar,
.el-aside .user-info .collapse {
  line-height: 50px;
}
.el-aside .user-info .info {
  margin-top: 3px;
}
.background-image-wrapper > img {
  cursor: pointer;
}
.opicker-tree .ztree * {
  font-size: 14px;
}
.opicker-tree .ztree li {
  line-height: 22px;
}
.flex-block-box {
  overflow: hidden;
  font-size: 14px;
}
.flex-block-box li {
  width: 150px;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #ccc;
  margin-right: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.flex-block-box li .icon-box {
  height: 50px;
  line-height: 50px;
  width: 50px;
  margin: 10px auto;
}
.flex-block-box li .icon-box .fc {
  font-size: 36px;
}
.flex-block-box li .icon-box img {
  width: 100%;
}
.flex-block-box li:hover {
  cursor: pointer;
}
.flex-block-box li:hover .flex-block-cover {
  transform: translate(0, 0);
  transition: all 0.5s;
}
.flex-block-box .flex-block-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: pointer;
  transform: translate(0, 100%);
  padding: 20px 0;
}
.flex-block-box .flex-block-cover p {
  color: #fff;
  text-align: center;
  line-height: 26px;
}
.flex-block-box .flex-block-cover p:hover {
  color: #7dcdff;
}
.flex-block-box .flex-block-delete {
  color: #D0021B !important;
}
.flex-block-box .flex-block-delete:hover {
  color: #7dcdff !important;
}
.flex-block-add .icon-box {
  height: 100% !important;
  margin: 0 auto !important;
  line-height: 128px !important;
}
.flex-block-add .icon-box .fc {
  font-size: 50px !important;
}
.title-font-size {
  font-size: 16px;
}
.title-help-font-size {
  font-size: 14px;
}
.main-avatar {
  height: 50px;
  width: 50px;
}
.logout-popmenu {
  width: 100px !important;
}
.logout-popmenu li {
  line-height: 46px;
}
.dialog-position {
  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -10%);
  height: calc(100% - 30%);
  max-width: calc(100% - 30%);
  min-width: calc(100% - 40%);
  display: flex;
  flex-direction: column;
}
.dialog-position iframe {
  height: 100%;
  border-width: 0;
  overflow: hidden;
}
.dialog-position > .el-dialog__body {
  overflow: auto;
  padding: 0px;
  padding-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  box-sizing: border-box;
}
.dialog-position .aioa-dialog-wrapper {
  height: 100%;
  position: relative;
}
.dialog-position .aioa-dialog-wrapper .aioa-dialog-main {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 61px;
  overflow: auto;
}
.dialog-position .aioa-dialog-wrapper .aioa-dialog-foot {
  border-top: 1px solid #c3c3c3;
  background: #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
.dialog-position-auto {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  min-width: auto;
}
.dialog-position-auto > .el-dialog__body {
  position: relative;
  top: 0;
  bottom: 0;
  padding: 10px !important;
}
.dialog-position-auto > .el-dialog__footer {
  border-top: 1px solid #c3c3c3;
  background: #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
}
.dialog-position-auto--nopadding > .el-dialog__body {
  padding: 0px !important;
}
.dialog-iframe > .el-dialog__body {
  overflow: hidden;
}
.dialog-iframe > .el-dialog__body .aioa-dialog-main {
  overflow: hidden;
}
.aioa-dialog-foot {
  text-align: right;
}
.iframe-dialog-detail {
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.iframe-dialog-detail .aioa-dialog-main {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: 0 10px;
}
.iframe-dialog-detail .aioa-dialog-foot {
  border-top: 1px solid #c3c3c3;
  background: #f2f2f2;
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
.dialog-free-layout {
  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -10%);
  max-height: calc(100% - 10%);
  max-width: calc(100% - 10%);
  min-width: calc(100% - 40%);
  display: flex;
  flex-direction: column;
}
.dialog-free-layout iframe {
  height: 600px;
  border-width: 0;
}
.dialog-free-layout > .el-dialog__body {
  overflow: auto;
  padding: 10px;
  padding-bottom: 0;
}
.dialog-free-layout .aioa-dialog-foot {
  text-align: right;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
}
.tox-silver-sink {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100000;
}
.fixed-row-layout {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.fixed-row-layout .fixed-main-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 72px;
  overflow: auto;
}
.fixed-row-layout .fixed-main-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tabs-horizontal-overflow {
  height: 100%;
  position: relative;
}
.tabs-horizontal-overflow .el-tabs__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
}
.tabs-horizontal-overflow .el-tabs__content .el-tab-pane {
  height: 100%;
}
.tabs-horizontal-overflow .el-tabs__content .el-row,
.tabs-horizontal-overflow .el-tabs__content .el-col,
.tabs-horizontal-overflow .el-tabs__content .tree-box-bg {
  height: 100%;
}
.tabs-horizontal-overflow .el-tabs__content .tree-box-bg {
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}
.tabs-horizontal-overflow .el-tabs__content .tree-box-bg .el-tree {
  color: #333;
}
.tabs-horizontal-overflow .el-tabs__content .tree-box-bg .el-tree .el-tree-node__expand-icon,
.tabs-horizontal-overflow .el-tabs__content .tree-box-bg .el-tree .el-tree-node__label {
  font-size: 16px;
}
.aioa-form-detail .el-form-item {
  margin-bottom: 0 !important;
}
.tinymce-detail {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 0 10px;
  box-sizing: border-box;
}
.pointer-input .el-input__inner {
  cursor: pointer;
}
